:root {
    --primary-color: #226d4c;
    --secondary-color: #eff1f3;
    --tertiary-color: #cbb001;
    --quaternary-color: #56666b;
    --quinary-color: #b5dfca;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Limelight', cursive;
}

h2 {
    padding-top: 10px;
}

header {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-shadow: 4px 2px var(--quaternary-color);
    padding: 10px 10px 5px;
}

header p {
    text-shadow: 2px 1px var(--quaternary-color);
}

#header-img img {
    height: 7rem;
    transform: rotate(-10deg);
}

main {
    background-color: var(--secondary-color);
    background-image: url(../images/2h-media-h9ue_EmlM7s-unsplash.jpg);
    height: 100vh;
}

.selector {
    background-color: var(--secondary-color);
    padding: 20px 0;
}

button {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-weight: bold;
    text-shadow: 2px 1px var(--quaternary-color);
    box-shadow: 4px 4px var(--quaternary-color);
    font-size: large;
    margin: 10px auto;
    padding: 10px;
}

button:active {
    box-shadow: none;
    transform: translate(4px, 4px);
}

.container {
    margin: auto;
    background-color: var(--secondary-color);
    padding-bottom: 5px;
}

.result h2 {
    text-align: center;
}

.image {
    position: relative;
    text-align: center;
}

.result img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    text-shadow: 1px 1px var(--tertiary-color);
    font-family: 'Limelight', cursive;
    font-size: 1.5rem;
    z-index: 999;
}

i {
    padding: 30px 0 10px;
}

.favorites p {
    font-family: 'Limelight', cursive;
    background-color: var(--quinary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1.5rem;
}

.favorites p:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-shadow: 2px 1px var(--quaternary-color);
}

.modal-content {
    background-color: var(--secondary-color);
    border: 2px solid var(--quaternary-color);
}

.modal-header {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-shadow: 2px 1px var(--quaternary-color);
}

#noBtn {
    background-color: var(--quinary-color);
    color: var(--quaternary-color);
    text-shadow: none;
}

#clear {
    display: none;
    padding-top: 10px;
}

#movie-name {
    opacity: 0%;
    color: var(--secondary-color);
    text-shadow: 1px 1px var(--tertiary-color);
    background-color: var(--quaternary-color);
    height: 300px;
    width: 200px;
    padding-top: 45%;
    border-radius: 5px;
    z-index: 999;
}

#movie-name:hover {
    opacity: 75%;
}

#movie-name:active {
    opacity: 95%;
}

/* custom slider */
input[type="range"] {
    -webkit-appearance: none;
    background-color: var(--secondary-color);
    margin-top: -5px;
    width: 50%;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, var(--quinary-color), var(--primary-color));
    height: 10px;
    margin: -5px 5px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background: var(--tertiary-color);
    margin-top: -7px;
    border-radius: 50%;
    border: 5px solid var(--quaternary-color);
}

/* custom drop-down menu */
.custom-select {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-size: larger;
    text-shadow: 2px 1px var(--quaternary-color);
    font-weight: bold;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 50px;
    right: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-color: var(--tertiary-color) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--tertiary-color) transparent;
    top: auto;
}

.select-items div,
.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: var(--quinary-color);
    color: var(--quaternary-color);
    font-weight: bolder;
    font-size: larger;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-shadow: 2px 1px var(--quaternary-color);
}

/* media query for header */
@media screen and (max-width: 575px) {
    #header-img img {
        height: 4rem;
    }

    header {
        text-align: center;
        padding-bottom: 0;
    }

    header p {
        margin-bottom: 0;
    }
}